* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", system-ui, sans-serif;
  font-size: 17px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  text-transform: capitalize;
}
.navbar a {
  text-decoration: none;
  color: #000;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 2vw;
  list-style: none;
  gap: 2rem;
  font-size: 0.5rem;
}
.navbar__bold {
  font-weight: bold;
}
.navbar__mac {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 12px 18px;
  font-weight: bold;
  text-transform: capitalize;
  gap: 15px;
  background-color: #f5f5f5;
}
.navbar__mac::after {
  content: "Download for Mac";
}
.navbar__mac .apple {
  font-size: 30px;
}
@media (max-width: 768px) {
  .navbar {
    padding: 16px 24px;
  }
  .navbar__logo img {
    width: 90px;
    height: auto;
  }
  .navbar__links {
    gap: 0.9rem;
  }
  .navbar__mac {
    padding: 0;
    background-color: transparent;
    position: relative;
  }
  .navbar__mac::after {
    content: "Download for Mac";
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 12px;
    height: auto;
    position: absolute;
    bottom: -42px;
    transform: translateX(-50%);
    left: 50%;
    padding: 6px 10px;
    opacity: 0;
  }
  .navbar__mac:hover::after {
    opacity: 1;
  }
}

.description {
  padding: 11vh 10vw;
}
.description p {
  font-size: 6.5vw;
  line-height: 102%;
  font-weight: 900;
}
.description__btns {
  display: flex;
  margin-top: 6vh;
  gap: 20px;
  flex-wrap: wrap;
}
.description__btns__mac {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 12px 18px;
  font-weight: bold;
  text-transform: capitalize;
  gap: 15px;
  background-color: #1F1F1F;
  color: #f5f5f5;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.35);
}
.description__btns__mac::after {
  content: "Download for Mac";
}
.description__btns__mac .apple {
  font-size: 30px;
}
.description__btns__product {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 12px 18px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #FF6154;
  color: #FF6154;
  gap: 2.5vh;
  padding: 5px 20px;
}
.description__btns__product .badge__left {
  display: flex;
}
.description__btns__product .badge__left .badge__icon {
  background-color: #FF6154;
  color: white;
  font-size: 1.5rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__btns__product .badge__left .badge__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.description__btns__product .badge__left .badge__text .badge__label {
  font-size: x-small;
  text-transform: uppercase;
}
.description__btns__product .badge__left .badge__text .badge__title {
  text-transform: capitalize;
}
.description__btns__product .badge__right {
  display: flex;
  flex-direction: column;
}
.description__btns__product .badge__right .badge__count {
  font-size: small;
}

.desktop__img {
  width: 100%;
  margin: 0 auto;
  padding: 0 4.5vw;
  background-position: center;
  position: relative;
}
.desktop__img .background {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 24px;
}
.desktop__img .apple-icon {
  position: absolute;
  top: 1vw;
  left: 5.5vw;
}
.desktop__img .status-bar {
  position: absolute;
  top: 1vw;
  right: 5.5vw;
}
.desktop__img .menu-bar {
  background-color: rgba(39, 38, 38, 0.8);
  border-radius: 20px;
  position: absolute;
  top: 15vw;
  left: 6.5vw;
  width: 20vw;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.35);
}
.desktop__img .app-bar {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  position: absolute;
  top: 5.5vw;
  right: 2.5vw;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.35);
  height: auto;
  width: 17vw;
}

@media (max-width: 1024px) {
  .desktop__img .app-bar {
    top: 6.5vw;
  }
}
@media (max-width: 768px) {
  .desktop__img .apple-icon {
    width: 6vw;
    top: 2vw;
    left: 6.5vw;
  }
  .desktop__img .status-bar {
    width: 25vw;
    top: 2vw;
    right: 6.5vw;
  }
  .desktop__img .menu-bar {
    border-radius: 8px;
  }
  .desktop__img .app-bar {
    top: 8.5vw;
    border-radius: 8px;
  }
}
.features {
  padding: 8vw 15vw;
  text-align: center;
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.feature-1::before {
  content: "";
  background: url("../asset/features/spinner.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-1::after {
  content: "Hassle-free time tracking";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.feature-2::before {
  content: "";
  background: url("../asset/features/laptop.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-2::after {
  content: "Perfect for freelancers";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.feature-2::after {
  background: url("../asset/features/frame.svg") no-repeat;
  background-position: center 135%;
  padding: 0.2rem 0.5rem;
}

.feature-3::before {
  content: "";
  background: url("../asset/features/bolt.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-3::after {
  content: "Useful insights and analytics";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.feature-4::before {
  content: "";
  background: url("../asset/features/file.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-4::after {
  content: "Quick export to CSV";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.feature-5::before {
  content: "";
  background: url("../asset/features/clock.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-5::after {
  content: "Daily limits and notifications";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.feature-6::before {
  content: "";
  background: url("../asset/features/menu.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-6::after {
  content: "Menubar extension";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.feature-7::before {
  content: "";
  background: url("../asset/features/brush.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-7::after {
  content: "Playful customization";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.feature-8::before {
  content: "";
  background: url("../asset/features/infinity.svg") no-repeat center;
  background-size: contain;
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 0.8rem;
}
.feature-8::after {
  content: "Unlimited projects";
  font-size: 1.5rem;
  line-height: 33px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.footer {
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__btns {
  margin-top: 10vh;
}
.footer__btns__mac {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 12px 18px;
  font-weight: bold;
  text-transform: capitalize;
  gap: 15px;
  background-color: #1F1F1F;
  color: #f5f5f5;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.35);
}
.footer__btns__mac::after {
  content: "Download for Mac";
}
.footer__btns__mac .apple {
  font-size: 30px;
}
.footer__info {
  margin-top: 5vh;
  text-align: center;
  line-height: 30px;
  color: rgba(31, 31, 31, 0.5);
  font-weight: bold;
}
.footer__info .heart {
  font-size: 25px;
}
.footer__info .title {
  font-size: 20px;
}
.footer__info .subtitle {
  font-size: 15px;
  color: rgba(31, 31, 31, 0.3);
}/*# sourceMappingURL=main.css.map */