*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Text",
    system-ui,
    sans-serif;
    font-size: 17px;
}
