@use "../helpers/mixins" as *;
@use "../variables/colors" as *;

.footer {
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__btns {
        margin-top: 10vh;
        &__mac {
            @include btn("mac-btn","footer");
        }
    }
    &__info {
        margin-top: 5vh;
        text-align: center;
        line-height: 30px;
        color: rgba($dark, 0.5);
        font-weight: bold;
        .heart {
            font-size: 25px;
        }
        .title {
            font-size: 20px;
        }
        .subtitle {
            font-size: 15px;
            color: rgba($dark, 0.3);;
        }
    }

}