$features: (
    feature-1: (
        icon: "spinner",
        title: "Hassle-free time tracking",
        highlight: false
    ),
    feature-2: (
        icon: "laptop",
        title: "Perfect for freelancers",
        highlight: true
    ),
    feature-3: (
        icon: "bolt",
        title: "Useful insights and analytics",
        highlight: false
    ),
    feature-4: (
        icon: "file",
        title: "Quick export to CSV",
        highlight: false
    ),
    feature-5: (
        icon: "clock",
        title: "Daily limits and notifications",
        highlight: false
    ),
    feature-6: (
        icon: "menu",
        title: "Menubar extension",
        highlight: false
    ),
    feature-7: (
        icon: "brush",
        title: "Playful customization",
        highlight: false
    ),
    feature-8: (
        icon: "infinity",
        title: "Unlimited projects",
        highlight: false
    ),
)